{% extends 'base.html' %}

{% block content %}

    <h3 class="mb-4">{{ form.title.data }}</h3>

    <div class="alert alert-info">
        Você tem certeza de que deseja excluir esta tarefa?
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group" disabled>
            <div class="form-group">
                {{ form.title.label(class="form-control-label readonly") }}
                {{ form.title(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control", rows=10) }}
            </div>
            <div class="custom-control custom-checkbox">
                {{ form.is_done(class="custom-control-input") }}
                {{ form.is_done.label(class="custom-control-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary", value="Sim") }}
            <a href="{{ url_for('details', task_id=task.id) }}" class="btn btn-primary">Não</a>
        </div>
    </form>

{% endblock %}