{% extends 'base.html' %}

{% block content %}

    <h3 class="mb-4">{{ form.title.data }}</h3>

    <a href="{{ url_for('update', task_id=task.id) }}" class="btn btn-primary mb-4"><i class="fas fa-edit mr-2"></i>Editar</a>
    <a href="{{ url_for('delete', task_id=task.id) }}" class="btn btn-primary mb-4"><i class="fas fa-trash mr-2"></i>Excluir</a>

    <form action="" method="post">
        <fieldset class="form-group" disabled>
            <div class="form-group">
                {{ form.title.label(class="form-control-label readonly") }}
                {{ form.title(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control", rows=10) }}
            </div>
            <div class="custom-control custom-checkbox">
                {{ form.is_done(class="custom-control-input") }}
                {{ form.is_done.label(class="custom-control-label") }}
            </div>
        </fieldset>
    </form>

    <a href="{{ url_for('index') }}" class="btn btn-primary mb-4"><i class="fas fa-angle-left mr-2"></i>Voltar</a>

{% endblock %}



