{% extends 'base.html' %}

{% block content %}

    <a href="{{ url_for('new') }}" class="btn btn-primary mb-4"><i class="fas fa-plus mr-2"></i>Nova tarefa</a>

    <form class="form-inline mb-2 d-flex flex-row-reverse">
        <select class="custom-select" id="filter_status">
            <option value="" selected>Todas</option>
            <option value="open">Pendentes</option>
            <option value="closed">Concluídas</option>
        </select>
    </form>

    <div class="list-group">
        {% for task in tasks %}

            <a href="{{ url_for('details', task_id=task.id) }}" class="list-group-item list-group-item-action task status-{{ 'closed' if task.is_done else 'open' }}">

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ task.title }}</h5>
                    <small>{{ task.date_added.strftime('%d/%m/%Y') }}</small>
                </div>
                {% if task.description %}
                    <p class="mb-1"><small>{{ task.description }}</small></p>
                {% endif %}
                {% if task.is_done %}
                    <span class="badge badge-success">Concluída</span>
                {% else %}
                    <span class="badge badge-danger">Pendente</span>
                {% endif %}

            </a>

        {% endfor %}
    </div>

{% endblock %}

{% block js %}

    <script>
        $('#filter_status').change(function(){

            status = $(this).val();

            if (status) {
                $('.task').hide();
                $('.status-' + status).show();
            } else {
                $('.task').show();
            }

        });
    </script>

{% endblock %}