{% extends 'base.html' %}

{% block content %}

    <h1>Nova tarefa</h1>

    <div class="alert alert-info">
        Preencha o formulário abaixo com os dados da nova tarefa.<br>
        Quando concluir, clique no botão <em>Salvar</em> para salvar a nova tarefa ou no botão <em>Cancelar</em> para voltar a tela anterior.
    </div>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control", rows=10) }}
            </div>
            <div class="custom-control custom-checkbox">
                {{ form.is_done(class="custom-control-input") }}
                {{ form.is_done.label(class="custom-control-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('index') }}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

{% endblock %}